
body{
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: white;
    
}
.cont{
    padding: 10px;
}


.fondo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1
    
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px ;
}
.titulo{
    background-color: #9AEBA3;
    padding: 25px;
    border: 3px solid rgb(67, 166, 28) ;
    border-radius: 60% 20% / 10% 60%;
    width: 170px;
    height: 90px;
}


nav{
    background-color:rgba(228, 236, 254, 0.625);
    border:2px solid black;
    border-radius: 15px;
    max-width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    position: relative;


}
h1{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.btn-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.btns-navs{
    
    padding: 10px;
    background: transparent;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btns-navs:hover{
    border-radius: 10px;
    transition-duration: 0.5s;
}
#btn-1:hover{
    background-color: rgb(209, 242, 19);
}
#btn-2:hover{
    background-color: rgb(19, 242, 45);
}
#btn-3:hover{
    background-color: rgb(242, 19, 93);
}
.cuerpo{

    background-color:rgba(228, 236, 254, 0.625);
    border:2px solid black;
    border-radius: 15px;
    margin-top: 10px;
    padding: 15px;
    max-width: 100%;
    text-align: center;
}
.subt{
    text-decoration: cursive;
}
.estrella1{
    width: 30px;
    height: 30px;
}
.video{
    width:500px
}
.reverso-card{
    width: 260px;
    height: 380px;
    position: absolute; 
    z-index: -1;
}
#r-card-1{
    top:40%;
    left:70%;
    transform:rotate(35deg);
}
#r-card-2{
    top:60%;
    left:10%;
    transform:rotate(-35deg);
}